<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/images/icon.png" />
    <title>Blog - “Don’t raise your voice, improve your argument.”</title>
</head>
<body>

    <div class="preloader">
        <img src="/images/preloader.gif" alt="preloader" />
    </div>

    <div class="container">

        <div class="blog-container">

            {{>header}}

            <div class="main-body">
                
                <div class="recent-blogs">

                    <div class="blog-list">
                        <img src="/images/sample1.jpg" width="200px" height="150px" />
                        <h3>Setup MERN (MongoDB, Express JS, React JS, and Setup MERN (MongoDB, Express JS, React JS, and</h3>
                        <p>Setup MERN (MongoDB, Express JS, React JS, and</p>
                        <p>Setup MERN (MongoDB, Express JS, React JS, and</p>
                        <span>By, Deepakraj S</span>
                    </div>

                    <div class="blog-list">
                        <img src="/images/sample2.jpg" width="200px" height="150px" />
                        <h3>Setup MERN (MongoDB, Exp, React JS, and</h3>
                        <p>Setup MERN (MongoDB, Express JS, React JS, and</p>
                        <p>Setup MERN (MongoDB, Express JS, React JS, and </p>
                        <span>By, Deepakraj S</span>
                    </div>

                    <div class="blog-list">
                        <img src="/images/sample1.jpg" width="200px" height="150px" />
                        <h3>Setup MERN (MongoDB, Express JS, React JS, and Setup MERN (MongoDB, Express JS, React JS, and</h3>
                        <p>Setup MERN (MongoDB, Express JS, React JS, and</p>
                        <p>Setup MERN (MongoDB, Express JS, React JS, and </p>
                        <span>By, Deepakraj S</span>
                    </div>

                    <div class="blog-list">
                        <img src="/images/sample2.jpg" width="200px" height="150px" />
                        <h3>Setup MERN (MongoDB, Exp, React JS, and</h3>
                        <p>Setup MERN (MongoDB, Express JS, React JS, and</p>
                        <p>Setup MERN (MongoDB, Express JS, React JS, and </p>
                        <span>By, Deepakraj S</span>
                    </div>

                    <div class="blog-list">
                        <img src="/images/sample1.jpg" width="200px" height="150px" />
                        <h3>Setup MERN (MongoDB, Express JS, React JS, and Setup MERN (MongoDB, Express JS, React JS, and</h3>
                        <p>Setup MERN (MongoDB, Express JS, React JS, and</p>
                        <p>Setup MERN (MongoDB, Express JS, React JS, and </p>
                        <span>By, Deepakraj S</span>
                    </div>

                    <div class="blog-list">
                        <img src="/images/sample2.jpg" width="200px" height="150px" />
                        <h3>Setup MERN (MongoDB, Exp, React JS, and</h3>
                        <p>Setup MERN (MongoDB, Express JS, React JS, and</p>
                        <p>Setup MERN (MongoDB, Express JS, React JS, and </p>
                        <span>By, Deepakraj S</span>
                    </div>

                    <div class="blog-list">
                        <img src="/images/sample1.jpg" width="200px" height="150px" />
                        <h3>Setup MERN (MongoDB, Express JS, React JS, and Setup MERN (MongoDB, Express JS, React JS, and</h3>
                        <p>Setup MERN (MongoDB, Express JS, React JS, and</p>
                        <p>Setup MERN (MongoDB, Express JS, React JS, and </p>
                        <span>By, Deepakraj S</span>
                    </div>

                    <div class="blog-list">
                        <img src="/images/sample2.jpg" width="200px" height="150px" />
                        <h3>Setup MERN (MongoDB, Exp, React JS, and</h3>
                        <p>Setup MERN (MongoDB, Express JS, React JS, and</p>
                        <p>Setup MERN (MongoDB, Express JS, React JS, and </p>
                        <span>By, Deepakraj S</span>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <script src="/js/script.js"></script>

</body>
</html>