<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/images/icon.png" />
    <title>Blog - “Don’t raise your voice, improve your argument.”</title>
</head>
<body>

    <div class="preloader">
        <img src="/images/preloader.gif" alt="preloader" />
    </div>

    <div class="container">

        <div class="blog-container">

            {{>header}}

            <div class="main-body">
                <div class="single-post-container">
                    <div class="single-post">
                        <h1 id="blog-title" style="margin: 20px;"></h1>
                        <img id="blog-img" width="80%" height="60%" style="margin: 20px;" />
                        <h3 id="blog-subject" style="margin: 20px;"></h3>
                        <p id="blog-body" style="margin: 20px;"></p>
                        <iframe title="youtube" id="blog-youtube" ></iframe>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="/js/singlepost.js"></script>

</body>
</html>