<header>
    
    <nav>

        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <ul class="nav-links">
            
            <h1>
                <a href="/">Blog Site</a>
            </h1>
            
            <li>
                <a id="about" href="#">About</a>
            </li>
            <li>
                <a id="signin" href="/signin">Sign in</a>
            </li>
            <li>
                <a id="signup" href="/signup">Sign up</a>
            </li>
        </ul>
    </nav>

</header>